body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}



.container{
   flex: 1;
}
 .navbar{
    height: 5rem;
    background-color: white;
 }

 .fa-compass{
    color: #fe424d;
    font-size: 2rem;
 }

 .nav-link{
    color: #222222 !important;
 }

 .f-info-links a {
    text-decoration: none ;
    color: #222222;
 }
 .f-info-links a:hover {
    text-decoration: underline ;
    
 }

 .f-info-links,
 .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }


.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1.2rem;
}

 .f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
 }

 /* cards */

 .listing-card{
   border: none !important;
   margin-bottom: 2rem;

 }
 .card-img-top{
   border-radius: 1rem !important;
   width: 100% !important;
   object-fit: cover !important;
 }

 .card-body{
   padding: 0 !important;

 }

 .card-text p{
   font-weight: 400 !important;
 }
 .listing-link{
   text-decoration: none;
 }


 .card-img-overlay{
   opacity: 0 ;
 }

.card-img-overlay:hover{
   opacity: 0.2;
   background-color: white;
}
.add-btn{
   background-color: #fe424d !important;
   border: none !important;
}

/* show page */

.show-img{
   height: 30vh;
}

.btns{
   display: flex;
}

.edit-btn{
   background-color: #fe424d !important;
}
.show-card{
   padding-left: 0;
   padding-right: 0;
}

/* map */

#map{
   height: 400px;
   width: 100vh;
}
/* #suggestionsBox {
  border: 2px solid red;
  z-index: 9999;
} */
#suggestionsBox {
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
}
.suggestion-item {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.suggestion-item:hover {
  background-color: #f7f7f7;
  border-radius: 8px;
}

suggestion-item .icon {
  font-size: 18px;
  color: #e74c3c;
}
suggestion-item .icon {
  font-size: 18px;
  color: #e74c3c;
}
suggestion-item .icon {
  font-size: 18px;
  color: #e74c3c;
}

/* #suggestionsBox a {
  cursor: pointer;
  padding: 10px 15px;
  text-decoration: none;
  color: #333;
}

#suggestionsBox a:hover {
  background-color: #f8f9fa;
} */

.starability-result {
  font-size: 0.6rem; /* adjust this as needed (try 0.6rem too) */
  transform: scale(0.6); /* optional: scale stars smaller */
  transform-origin: left;
}

.review-author {
  font-size: 1rem;         /* Smaller font size */
  font-family: 'Segoe UI', sans-serif;  /* Change font */
  color: #555;                /* Optional: softer color */
  font-weight: 500;           /* Optional: adjust weight */
}
